<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Buyer Post Created</h4>
            <p class="card-description">Field</p>
            <form class="forms-sample">
                <div class="form-group">
                    <label for="exampleInputName1">Title</label>
                    <input type="text" class="form-control" id="exampleInputName1" placeholder="Title..">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Region</label>
                    <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Region..">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword4">District</label>
                    <input type="text" class="form-control" id="exampleInputPassword4" placeholder="District..">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword4">Phone number</label>
                    <input type="text" class="form-control" id="exampleInputPassword4" placeholder="Phone number..">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword4">Capacity</label>
                    <input type="text" class="form-control" id="exampleInputPassword4" placeholder="Capacity..">
                </div>
                <div class="form-group">
                    <label for="exampleSelectGender">Capacity measure</label>
                    <select class="form-control" id="exampleSelectGender">
                        <option>KG</option>
                        <option>T</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword4">Price</label>
                    <input type="text" class="form-control" id="exampleInputPassword4" placeholder="Price..">
                </div>
                <div class="form-group">
                    <label>File upload</label>
                    <input type="file" name="img[]" class="file-upload-default">
                    <div class="input-group col-xs-12">
                        <input type="file" class="form-control file-upload-info" placeholder="Upload Image">
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputCity1">City</label>
                    <input type="text" class="form-control" id="exampleInputCity1" placeholder="Location">
                </div>
                <div class="form-group">
                    <label for="exampleTextarea1">Info</label>
                    <textarea class="form-control" id="exampleTextarea1" rows="4"></textarea>
                </div>
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button class="btn btn-dark">Cancel</button>
            </form>
        </div>
    </div>
</div>